@import "nib"

.ma-avatar
  height 50px
  width 50px

  .ma-avatar-image, .ma-avatar-initials
    height 100%
    width 100%

  .ma-avatar-initials
    display block
    background-size 100% 100%
    background-color #aaa
    color #fff
    font-size 25px
    line-height 50px
    font-family "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif
    text-align center

.ma-avatar-large
  height 80px
  width 80px
  .ma-avatar-initials
    font-size 40px
    line-height 80px

.ma-avatar-small
  height 30px
  width 30px
  .ma-avatar-initials
    font-size 15px
    line-height 30px

.ma-avatar-extra-small
  height 20px
  width 20px
  .ma-avatar-initials
    font-size 10px
    line-height 20px

.ma-avatar-rounded
  .ma-avatar-image, .ma-avatar-initials
    border-radius 5px

.ma-avatar-circle
  .ma-avatar-image, .ma-avatar-initials
    border-radius 50%

.ma-avatar-hide-image
  .ma-avatar-image
    display none

.ma-avatar-hide-initials
  .ma-avatar-initials
    display none
